mat-toolbar {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}

mat-sidenav-container {
    height: calc(100vh - 64px);
}

mat-sidenav,
mat-sidenav-container {
    transition: all 500ms ease-in-out;
}
.search {
    border: none;
    border-radius: 100px;
    padding: 5px 3rem 5px 16px;
    margin-left: 8px;
    width: 180px;
    max-width: 240px;
    line-height: normal;
    height: 50%;
}
